* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0d0d0d;
  color: #fff;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #f97de0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #d41f9e;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #141414, #1f1f1f);
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: #b72a8a;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #b72aa7;
}

/* Portfolio Section */
#categories {
  padding: 3rem 2rem;
  text-align: center;
}

.filter-buttons {
  margin-bottom: 1.5rem;
}

.filter-btn {
  background: transparent;
  border: 1px solid #ac3b9b;
  color: #c757af;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: #c84cad;
  color: #fff;
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.video-card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-card video {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.video-card h3 {
  padding: 0.8rem;
  font-size: 1rem;
}

/* About & Contact */
#about, #contact {
  padding: 3rem 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 1rem auto;
}

input, textarea {
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

button {
  background: #ff4b2b;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ad386e;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #111;
  font-size: 0.9rem;
}
footer a {
  color: #bc2473;
  text-decoration: none;
}